@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Future';
  src: url('/assets/fonts/Future-Face.ttf');
  font-display: swap;
}

body {
  margin: 0;
  font-family: future;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
